.RightSide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: sticky;
  top: 1rem;
  height: fit-content;
}

.navIcons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.navIcons > img {
  width: 1.5rem;
  height: 1.5rem;
}

.r-button {
  height: 3rem;
  width: 100%;
  align-self: center;
  border-radius: 14px;
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .RightSide {
    position: static;
  }
}
