.FollowersCard {
  width: 100%;
  border-radius: 1rem;
  gap: 0.95rem;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  background: var(--cardColor);
  border: 1px solid rgba(17, 82, 128, 0.08);
  padding: 1rem;
}

.FollowersCard h3 {
  margin: 0 0 0.2rem;
}

.follower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follower > div {
  display: flex;
  gap: 10px;
}

.followerImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.name > span:nth-of-type(1) {
  font-weight: bold;
}

.fc-button {
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.95rem;
}
