.TrendCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--cardColor);
  border-radius: 1rem;
  padding: 1.2rem;
  border: 1px solid rgba(17, 82, 128, 0.08);
}

.TrendCard h3 {
  margin: 0;
}

.trend {
  display: flex;
  flex-direction: column;
  gap: 0.32rem;
}

.trend > span:nth-of-type(1) {
  font-weight: bold;
}

.trend > span:nth-of-type(2) {
  font-size: 13px;
}
